@import './../../index.css';

.carrousel--container{
  display: block;
  min-width: 100%;
  min-height: 55vh;
  max-width:max-content;
  position: relative;
}

.carrousel--left--arrow, .carrousel--right--arrow{
  width: 2em;
  font-size: 1.5em;
  opacity: 1;
  color: var(--white);
  background-color: transparent;
  position: absolute;
  top: 30%;
  border: none;
}
.carrousel--left--arrow{
  left: 0;
}
.carrousel--right--arrow{
  right: 0;
}
.carrousel--left--arrow:hover, .carrousel--right--arrow:hover{
  filter: brightness(150%);
  cursor: pointer;
  transition: .3s;
}

.carrousel--image{
  width: 100%;
  height: 100%;
}
.carrousel--image--active{
  opacity: 1;
	transition: all 4s ease-in-out;
  max-height: fit-content;
  min-height: fit-content;
}

.carrousel--image--inactive{
  opacity: 0;
	transition: all 4s ease-in-out;
    max-height: fit-content;
    min-height: fit-content;
}