.searchbar--input{
    font-family: 'Roboto';
}
.searchbar--input{
    padding: 0.5em;
    border-radius: 5px;
    border: 2px solid var(--white);
    color: var(--black);
    background-color: var(--white);
}.searchbar--input:focus{
    outline: 0;
}
