.filters--select--container{
    color: var(--white);
    display: flex;
    margin: 1em 0;
    gap: 1em;
    justify-content: center;
}
.filters--select{
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: var(--white);
    color: var(--black);
    padding: .5em;
}
.filters--option{
    color: var(--black);
}