@import './../../index.css';

.footer--container{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  min-width: 100%;
  font-family: 'Oswald', 'Roboto';
  margin: 2em 0 1em 0;
}

.footer--links--container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20vw;
}

.footer--links{
  margin-left: 0;
  transition: all .3s ease-in-out;
}

.footer--links:hover{
  font-weight: bold;
  filter: brightness(200%);
  margin-left: 1em;
  transition: all .3s ease-in-out;
}

.copyright{
  font-weight: bold;
  color: var(--white);
}